name: Zig Dependabot

on:
  schedule:
    # Runs everyday at midnight.
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual trigger

permissions:
  contents: write      # Required to push update branches
  pull-requests: write # Required to create release PRs
  issues: write        # Required if create_issue is true

jobs:
  update-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: Run Zig Dependabot
        uses: muhammad-fiaz/zig-dependabot@v1.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          create_pr: true
          create_issue: true
