name: Zig Dependabot

on:
  schedule:
    # GitHub Action's minimum effective interval is ~5 minutes.
    # We set it to */5 here as that's the fastest it will reliably trigger automatically.
    - cron: '*/5 * * * *'
  workflow_dispatch: # Use this to trigger it INSTANTLY

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  update-deps:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Zig
        uses: mlugg/setup-zig@v2
        with:
          version: master

      - name: Run Zig Dependabot
        uses: muhammad-fiaz/zig-dependabot@v1.0.0
        with:
          token: ${{ secrets.GH_TOKEN }}
          create_pr: true
          run_validation: true
